@{
    ViewData["Title"] = "Home Page";
}
<!-- SomeView.cshtml -->
<div>
    <h1 class="text-white-50">Welcome to the Dark Theme!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core" class="text-indigo-600">building Web apps with ASP.NET Core</a>.</p>
</div>


<div>
    <p class="text-danger"> Next!</p>
    <p class="text-while"> Next!</p>
   </div>
   
<p class="text-red-400">The quick brown fox...!</p>
<p class="text-danger"> Next!</p>

